<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.vltask19.mapper.RoleMapper">
    <insert id="saveRole" parameterType="com.example.vltask19.entity.Role" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `role`(`Name`,`Level`,`IsSys`) VALUES(#{name},#{level},#{isSys})
    </insert>
</mapper>